<div class="header clearfix">
  <nav class="navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#chat-navbar1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/">
          <img class="brand-img img img-responsive" src='/static/assets/images/logo_large.png' alt="...">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="chat-navbar1">
        <ul class="nav navbar-nav navbar-right header_menu">
          <li class="active"><a href="/">Home</a></li>
            <li>
              <a href="/agents">For Agents</a>
            </li>
            <li>
              <a href="/renters">For Renters</a>
            </li>
            <li>
              <button class="btn-add-bot">
                <img src="/static/assets/images/plus.png" />
                Add bot to my website
              </button>
            </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
