<div class="footer clearfix">
  <div class="social_buttons">
    <a href="#" class="link_facebook">
      <img src="/static/assets/images/facebook.png" />
    </a>
    <a href="#" class="link_twitter">
      <img src="/static/assets/images/twitter.png" />
    </a>
    <a href="#" class="link_pinterest">
      <img src="/static/assets/images/pinterest.png" />
    </a>
  </div>
  <ul class="footer_menus">
    <li>
      <a href="/">Home</a>
    </li>
    <li class="chat_disabled"><span>|</span></li>
    <li>
      <a href="/agents">For Agents</a>
    </li>
    <li class="chat_disabled"><span>|</span></li>
    <li>
      <a href="/renters">For Renters</a>
    </li>
    <li class="chat_disabled"><span>|</span></li>
    <li>
      <a href="/terms">Terms &amp; Privacy</a>
    </li>
    <li class="chat_disabled"><span>|</span></li>
    <li>
      <a href="http://help.apartmentocean.com/">Support</a>
    </li>
  </ul>
  <div class="footer_policy">
    © 2016 ClikHome, Inc. All Rights Reserved.
  </div>
</div>
