{% extends "base.html" %}

{% block meta_title %}Forgot password{% endblock meta_title %}

{% load staticfiles %}

{% block main_style %}
<link rel="stylesheet" href='{% static "assets/css/forgot-password.css" %}'>
{% endblock main_style %}

{% block body_class %}page-forgot-password layout-full{% endblock body_class %}

{% block content %}
<div class="container">
  {% include "main_header.html" %}
  <div class="page animsition vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
      <h2>Forgot Password</h2>
      <p>Don't worry. Just fill in your email and we'll <br/>help you reset your password.</p>
      <form method="post" role="form">
        {% csrf_token %}
        <div class="form-group margin-bottom-20">
          <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Your email address">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block">Send Request</button>
        </div>
        <div class="form-group margin-top-15">
          <a href="{% url 'account_login' %}"><span><</span> Back to Sign In</a>
        </div>
      </form>
    </div>
  </div>
  {% include "main_footer.html" %}
</div>
{% endblock content %}
