{% extends "base.html" %}

{% block meta_title %}Request successful{% endblock meta_title %}

{% load staticfiles %}

{% block main_style %}
<link rel="stylesheet" href='{% static "assets/css/request-success.css" %}'>
{% endblock main_style %}

{% block body_class %}request-success layout-full{% endblock body_class %}

{% block content %}
<div class="container">
  {% include "main_header.html" %}
  <div class="page animsition vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
      <h2>SUCCESS!</h2>
      <p>We've just sent you a message! <br/>Please, check your email.</p>
      <div class="success_form">
        {% csrf_token %}
        <div class="form-group margin-bottom-30">
           <img src='{% static "assets/images/thanks.png" %}' />
        </div>
        <div class="form-group">
          <a type="button" class="btn btn-success btn-block" href="{% url 'account_login' %}"><span><</span> Back to Sign in</a>
        </div>
      </div>
    </div>
  </div>
  {% include "main_footer.html" %}
</div>
{% endblock content %}
