{% extends "base.html" %}

{% block meta_title %}Verify Your E-mail Address{% endblock meta_title %}

{% load staticfiles %}

{% block main_style %}
<link rel="stylesheet" href='{% static "assets/css/login.css" %}'>
{% endblock main_style %}

{% block body_class %}page-login layout-full{% endblock body_class %}

{% block content %}
<div class="container">
  {% include "main_header.html" %}
  <div class="page animsition vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
      <h2>Verify Your E-mail Address</h2>
      <p>We have sent an e-mail to you for verification.<br> Follow the link provided to finalize the signup process.<br> Please contact us if you do not receive it within a few minutes.</p>
    </div>
  </div>
  {% include "main_footer.html" %}
</div>
{% endblock content %}
