<div id="live-chat">
    <header class="clearfix" id="header">
        <a href="#" class="chat-close">x</a>
        <i id="connected"></i>
        <a class="btn btn-social-icon btn-facebook">
            <span class="fa fa-facebook"></span>
        </a>

        <a class="btn btn-social-icon btn-google">
            <span class="fa fa-google"></span>
        </a>
    </header>

    <div class="chat">
        <div id="log" class="chat-history">
            <!-- chat-history -->
        </div>

        <!-- input-field -->


    </div>
</div>