
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=n)-q3l^t-qrv1)5xa9qufmq=!%&=!g7v#fp2u&d2+^)f8e1u^#
DJANGO_ALLOWED_HOSTS=.chatbot.apartmentocean.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_SENDGRID_API_KEY=
# or use SendGrid credentials (specifically for sending mail)
DJANGO_SENDGRID_USERNAME=
DJANGO_SENDGRID_PASSWORD=
DJANGO_SERVER_EMAIL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
DJANGO_SENTRY_DSN=


COMPRESS_ENABLED=

