.page-forgot-password *{
  font-family: Lato !important;
}

.page-forgot-password p,
.page-forgot-password h2 {
  color: #4c4c4c;
}
.page-forgot-password h2{
	text-transform: uppercase;
  font-size: 28px;
}

.page-forgot-password form {
  width: 250px;
  margin: 30px auto;
}
.page-forgot-password .btn-block{
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.page-forgot-password form {
  width: 300px;
  margin: 25px 0 60px;
}

.page-forgot-password form a {
  color: #369ddc;
  font-weight: 700;
}
.page-forgot-password form a span{
  position: relative;
  top: -1px;
  margin-right: 6px;
}
.page-forgot-password form a:visited, .page-forgot-password form a:hover{
  text-decoration: none !important;
  opacity: 0.8;
}
.page-content{
  margin-top: 80px;
  min-width: 350px;
  padding: 35px 46px;
  background: #FFF;
  border: 10px solid #f5f5f5;
}
.page-content p{
  font-size:  14px;
  color: #4c4c4c;
  margin: 0 auto;
}
.page-content p a{
  color: #369ddc;
  font-weight: 700;
}
.page-content .form-control{
  padding: 16px;
  height: 48px;
  border-radius: 3px;
}
.page-content .form-group{
	margin-bottom: 10px;
}
.page-content label{
  color: #4c4c4c;
}
@media (max-width: 767px) {
  .page-content{
    margin-top: 40px;
    padding: 35px 26px;
  }